html, body { 
  margin: 0; 
  padding: 0; 
  background-color: #8dc4dc;
  
}

.Form { 
  position: absolute;
  width: 500px;
  height: 300px;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: -150px 0 0 -250px;
  border-radius: 10px;
  box-shadow: 10px 10px 15px #90a7b1;
  background-color: white;
  
}

.titulo{
  font-family: 'Rockwell', sans-serif;
  text-align: center;
  margin-top: 10%;
  color: #6b7174;
}

.bgimage{
  align-content: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: absolute;
  margin-top: 190px;
  margin-left: 50px;
}